<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Listas: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'layout' %>
  <%= javascript_include_tag :all  %>
  
  <script language="javascript"> 
    function abreLink(url) { document.location.href = url; }
  </script>
</head>
<body>
<div id="global">
    <div id="header">
        <div class="logo"><h1><span>Lista à mão</span></h1><a href="">sair</a></div>
    </div>
    <div id="conteudo">
      <%= yield %>
      <div class="fim">
        <p><a href="">sobre</a>  |  <a href="">ajuda</a>  |  <a href="">contato</a></p>
      </div>
  </div>
</div>
<div id="rodape">Desenvolvido por Kaus Mídia. <a href="">Entre em contato!</a></div>

</body>
</html>
